<div id="sql">
  <div class="bd">
    <form class="form-horizontal" role="form" action="#">
      <div class="form-group">
        <label class="col-sm-1 control-label">Insert SQL</label>
        <div class="col-sm-11">
          <textarea data-input="codeeditor" data-language="sql" class="form-control" rows="6"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <button type="submit" class="btn btn-primary">Convert to Update</button>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-1 col-sm-11">
          <textarea data-readonly="true" data-input="codeeditor" data-copiable="true"
                    data-language="sql" class="result form-control" rows="6"></textarea>
        </div>
      </div>
    </form>
  </div>
</div>
