<div id="footer">
  <div class="mod-content container">
    <div class="bd row">
      <div class="about col-md-6">
        <h3>About toptal</h3>
        <p>
          Toptal connects start-ups, business, and organizations to a growing network
          of the best developers in the world. Our engineers are available full- or part-time
          and are able to seamlessly integrate into your team.
        </p>
      </div>
      <div class="faq col-md-3 col-xs-7">
        <h3>FAQ</h3>
        <ul>
          <li>
            <a href="#">How can i join toptal?</a>
          </li>
          <li>
            <a href="#">What requirements i have to meet?</a>
          </li>
          <li>
            <a href="#">How do you pay me?</a>
          </li>
          <li>
            <a href="#">Lorem ipsum dolor it amet?</a>
          </li>
          <li>
            <a href="#">Rokok ini nulla facilis?</a>
          </li>
        </ul>
      </div>
      <nav class="menu col-md-1">
        <ul>
          <li>
            <a href="#">What</a>
          </li>
          <li>
            <a href="#">Why</a>
          </li>
          <li>
            <a href="#">How</a>
          </li>
          <li>
            <a href="#">Clients</a>
          </li>
          <li>
            <a href="#">Team</a>
          </li>
          <li>
            <a href="#">Labs</a>
          </li>
        </ul>
      </nav>
      <div class="contact col-md-2 col-xs-5">
        <h3>Contact</h3>
        <ul>
          <li>
            <a href="#">Join us</a>
          </li>
          <li>
            <a href="#">Send us e-mail</a>
          </li>
          <li>
            <a href="#">Follow us on twitter</a>
          </li>
          <li>
            <a href="#">Call 888.323.4422</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="ft">
      <div class="copyright pull-left">Copyright 2011 Toptal Development Inc.</div>
      <div class="links pull-right">
        <a href="#privacy">Privacy policy</a>
        <a href="#tos">Term of use</a>
      </div>
    </div>
  </div>
</div>
