<div id="header">
  <div class="mod-content container">
    <div class="hd clearfix">
      <a href="/" class="brand pull-left">
        <span class="name">toolbox</span>
        <!--<div class="subtitle">tools that being used everyday</div>-->
      </a>
      <!--
      <div class="user pull-right">
        <a href="#login" class="btn btn-info">Login</a>
      </div>
      -->
      <!--
      <div class="join pull-right">
        Join toptal as
        <a href="#join-developer" class="btn btn-default">Developer</a>
        <a href="#join-developer" class="btn btn-default">Company</a>
      </div>
      -->
    </div>
    <div class="bd clearfix">
      <nav class="pull-left clearfix">
        <!--
        <ul>
          <li>
            <a href="#what">What</a>
          </li>
        </ul>
        -->
      </nav>
      <!--
      <span class="phone pull-right">Call us: 888.323.4422</span>
      -->
    </div>
  </div>
</div>
